.dz-team{
	@include transitionMedium;
	.dz-name{
		a{
			@include transitionMedium;
		}
	}
	.dz-content{
		@include transitionMedium;
		position: relative;
	}
	.dz-media{
		img{
			width: 100%;
		}
	}
	.dz-position{
		display: block;
	}
}