[dir='rtl']{
	
	.p-l5 {
		padding-left: 0;
		padding-right: 5px;
	}
	.p-l10 {
		padding-left: 0;
		padding-right: 10px;
	}
	.p-l15 {
		padding-left: 0;
		padding-right: 15px;
	}
	.p-l20 {
		padding-left: 0;
		padding-right: 20px;
	}
	.p-l30 {
		padding-left: 0;
		padding-right: 30px;
	}
	.p-l40 {
		padding-left: 0;
		padding-right: 40px;
	}
	.p-l50 {
		padding-left: 0;
		padding-right: 50px;
	}
	.p-l60 {
		padding-left: 0;
		padding-right: 60px;
	}
	.p-l70 {
		padding-left: 0;
		padding-right: 70px;
	}
	.p-l80 {
		padding-left: 0;
		padding-right: 80px;
	}
	.p-l90 {
		padding-left: 0;
		padding-right: 90px;
	}
	.p-l100 {
		padding-left: 0;
		padding-right: 100px;
	}
	
	.p-r5 {
		padding-left: 5px;
		padding-right: 0;
	}
	.p-r10 {
		padding-left: 10px;
		padding-right: 0;
	}
	.p-r15 {
		padding-left: 15px;
		padding-right: 0;
	}
	.p-r20 {
		padding-left: 20px;
		padding-right: 0;
	}
	.p-r30 {
		padding-left: 30px;
		padding-right: 0;
	}
	.p-r40 {
		padding-left: 40px;
		padding-right: 0;
	}
	.p-r50 {
		padding-left: 50px;
		padding-right: 0;
	}
	.p-r60 {
		padding-left: 60px;
		padding-right: 0;
	}
	.p-r70 {
		padding-left: 70px;
		padding-right: 0;
	}
	.p-r80 {
		padding-left: 80px;
		padding-right: 0;
	}
	.p-r90 {
		padding-left: 90px;
		padding-right: 0;
	}
	.p-r100 {
		padding-left: 100px;
		padding-right: 0;
	}

	.m-l5 {
		margin-left: 0;
		margin-right: 5px;
	}
	.m-l10 {
		margin-left: 0;
		margin-right: 10px;
	}
	.m-l15 {
		margin-left: 0;
		margin-right: 15px;
	}
	.m-l20 {
		margin-left: 0;
		margin-right: 20px;
	}
	.m-l30 {
		margin-left: 0;
		margin-right: 30px;
	}
	.m-l40 {
		margin-left: 0;
		margin-right: 40px;
	}
	.m-l50 {
		margin-left: 0;
		margin-right: 50px;
	}
	.m-l60 {
		margin-left: 0;
		margin-right: 60px;
	}
	.m-l70 {
		margin-left: 0;
		margin-right: 70px;
	}
	.m-l80 {
		margin-left: 0;
		margin-right: 80px;
	}
	.m-l90 {
		margin-left: 0;
		margin-right: 90px;
	}
	.m-l100 {
		margin-left: 0;
		margin-right: 100px;
	}
	
	.m-r5 {
		margin-left: 5px;
		margin-right: auto;
	}
	.m-r10 {
		margin-left: 10px;
		margin-right: 0;
	}
	.m-r15 {
		margin-left: 15px;
		margin-right: 0;
	}
	.m-r20 {
		margin-left: 20px;
		margin-right: 0;
	}
	.m-r30 {
		margin-left: 30px;
		margin-right: 0;
	}
	.m-r40 {
		margin-left: 40px;
		margin-right: 0;
	}
	.m-r50 {
		margin-left: 50px;
		margin-right: 0;
	}
	.m-r60 {
		margin-left: 60px;
		margin-right: 0;
	}
	.m-r70 {
		margin-left: 70px;
		margin-right: 0;
	}
	.m-r80 {
		margin-left: 80px;
		margin-right: 0;
	}
	.m-r90 {
		margin-left: 90px;
		margin-right: 0;
	}
	.m-r100 {
		margin-left: 100px;
		margin-right: 0;
	}
	
}