[dir='rtl']{
	
	// Header
	.top-bar{
		.dz-topbar-center, 
		.dz-topbar-left, 
		.dz-topbar-right{
			ul{
				i{
					margin-right: 0;					
					margin-left: 5px;					
				}
			}
		}	
		.dz-topbar-left li{
			padding-left: 20px;
			padding-right: 0;
		}
	}
	.site-header{
		.extra-nav {
			float: left;
			.phone-call{
				margin-right: auto;
				margin-left: 50px;
				
				i {
					margin-right: auto;
					margin-left: 15px;
				}
			}
		}
		.logo-header{
			float: right;
		}
		&.style-1{
			.extra-cell>a,
			.extra-cell>div {
				margin-left: 0;
				margin-right: 30px;
			}
			.header-nav .nav>li.sub-menu-down>a:after {
				margin-left: 0;
				margin-right: 10px;
			}
		}
		&.style-2{
			&.header-transparent{
				.header-nav .nav{
					border-left: 0;
					border-right: 1px solid rgba(255, 255, 255, 0.2);
				}
				.is-fixed{
					.header-nav .nav{
						border-right: 1px solid rgba(0,0,0,0.1);
					}
				}
			}
			.header-nav .nav {
				margin-left: 0;
				margin-right: 50px;
				padding-left: 0;
				padding-right: 30px;
				border-left: 0;
				border-right: 1px solid #eee;
			}
			@include respond ('laptop'){
				.header-nav .nav{
					margin-left: 0;
					margin-right: 20px;
					padding-left: 0;
					padding-right: 20px;
				}
			}
			@include respond ('tab-port'){
				.header-nav .nav{
					margin: 0;
					padding-left: 20px;
				}
			}
		}
		&.style-4{
			.navicon span{
				left: auto;
				right: 10px;
			}
			.header-content-bx{
				.logo-header{
					padding: 0 10px 0 40px;
				}
				@include respond('phone'){
					.logo-header{
						border-left: 0;
						border-right: 1px solid rgba(255, 255, 255, 0.3);
						padding-left: 0;
						padding-right: 20px;
					}
					.navbar-toggler{
						margin: 15px;
					}
				}
			}
			.social-menu ul li a {
				padding-right: 0;
				padding-left: 15px;
			}
		}
		.full-sidenav{
			left: auto;
			right: -700px;
			&.active{
				left:auto;
				right:0;
			}
		}
		&.header-full{
			.menu-close{
				right: auto;
				left: 0;
			}
		}
	}
	.header-nav.full-sidenav .nav > li.sub-menu-down > a:after {
		float: left;
	}
	.header-nav{
		.nav>li{
			.mega-menu, 
			.sub-menu{
				left: auto;
				text-align: right;
				right: 0;
				
				li>.sub-menu {
					left: auto;
					right: 220px;
				}
				li{
					a:after{						
						left: auto;
						right: 20px;
					}
				}
			}
			.sub-menu li>a>i {
				float: left;
				transform: rotateY(180deg);
			}
		}
	}
	@include respond('wide-desktop'){
		.site-header .extra-nav{
			margin-left: 0;
			margin-right: 10px;
		}
	}
	@include respond('tab-port-min'){
		.header-nav{
			.nav{
				float: left;
			}
			.nav>li{
				.mega-menu, 
				.sub-menu{
					li{
						&:hover{
							&>a{
								padding: 8px 35px 8px 20px;
							}
						}
					}
				}
			}	
		}
	}
	@include respond('tab-port'){
		.header-nav{
			right: -280px;
			left: auto;
			
			&.show {
				right: -1px;
				left: auto;
			}
			.nav>li{
				&.sub-menu-down>a:after {
					right: auto;
					float: left;
					left: 0;
				}
				.mega-menu,
				.sub-menu{
					text-align: right;
					li a {
						padding: 2px 16px 1px 1px;
						&:after {
							content: "\f053";
							left: auto;
							right: 0;
						}
					}
					.mega-menu, 
					.sub-menu{
						padding-left: 0;
						padding-right: 20px;
						li a {
							&:after {
								content: "";
							}
						}
					}
				}
				.sub-menu li>a>i {
					float: left;
				}
			}
		}
		.navbar-toggler{
			margin: 15px 15px 15px 0;
			float: left;
			
			&.open{
				&:after{
					transform-origin: left;
					-webkit-transform-origin: left;
					-ms-transform-origin: left;
					-o-transform-origin: left;
					-moz-transform-origin: left;
				}
				span:nth-child(2) {
					left: 60px;
				}
			}
		}
	}
	
	// About us
	.year-exp{
		left: 20px;
		right: auto;
		.text {
			margin-left: 0;
			margin-right: 20px;
		}
	}
	.about-contact i {
		margin-left: 20px;
		margin-right: 0;
	}
	
	// About Media
	.about-media{
		&.style-1 {
			float: left;
		}
		&.style-2{
			&:after{
				left: auto;
				right: -50px;
				border-color: #fff var(--primary) var(--primary) #fff;
			}
			@include respond('laptop'){
				margin-left: 0;
				margin-right: 50px;
			}
			@include respond('tab-land'){
				margin-right: 0;
				padding-left: 0;
				padding-right: 50px;
				&:after {
					left: auto;
					right: 0;
				}
			}
			@include respond('tab-port'){
				padding-right: 25px;
			}
		}
		&.style-3{
			padding-left: 0;
			padding-right: 60px;
			.video-bx {
				left: auto;
				right: 0;
			}
		}
	}
	
	// service-area
	.service-area-2 {
		@include respond('tab-port-min'){
			[class*="col-"]{
				&:first-child{
					.icon-bx-wraper{
						border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
					}
				}
				&:last-child{
					.icon-bx-wraper{
						border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
					}
				}
			}
		}
	}
	.ext-sidebar-menu{
		ul li a:after {
			content: "\f053";
			right: auto;
			left: 25px;
		}
		&.style-2 ul li a{
			padding: 25px 50px 25px 30px;
			
			&:after{
				content: "\f067";
				left: auto;
				right: 0;
			}
			@include respond('tab-land'){
				padding: 15px 40px 15px 20px;
			}
		}
	}
	
	// Team
	.dz-team{
		&.style-2{
			.dz-content {
				padding-left: 0;
				padding-right: 20px;
				&:after {
					left: auto;
					right: 0;
				}
			}
			.team-social{
				padding-left: 0;
				padding-right: 10px;
			}
		}
		&.style-3 .team-social{
			right: auto;
			left: 10px;
		}
		&.style-4 .dz-position.line:before{
			margin-left: 10px;
			margin-right: 0;
		}
	}
	
	// icon-bx-wraper
	.icon-bx-wraper{
	
		&.left{
			.icon-bx-xl, 
			.icon-bx-lg,
			.icon-bx-md, 
			.icon-bx-sm, 
			.icon-bx-xs {
				margin-left: 20px;
				margin-right: 0;
				float: right;				
			} 
		}
		
		&.style-3{
			.icon-lg {
				margin-right: 0;
				margin-left: 25px;
			}
		}
		&.style-4{
			.icon-lg {
				margin-left: 15px;
				margin-right: 0;
			}
		}
		&.style-5{
			.icon-bx{
				margin-left: 20px;
				margin-right: 0;
			}
		}
		&.style-6{
			.btn{
				left: auto;
				right: 40px;
			}
			@include respond('phone'){
				.btn{
					right: 30px;
				}
			}
		}
		&.style-9{
			.list-num {
				left: auto;
				right: -5px;
			}
		}
		&.style-10{
			.icon-bx {
				margin-right: 0;
				margin-left: 25px;
			}
		}
		&.style-11 .btn-link i {
			margin-left: 0;
			margin-right: 8px;
			transform: rotateY(180deg);
		}
		&.style-12 .title {
			padding-left: 0;
			padding-right: 20px;
		}
		&.style-16:after {
			left: 10px;
			right: auto;
		}
		&.style-17 {
			.btn i{
				transform: rotateY(180deg);
			}
		}
	}
	
	// overlay stylea
	.overlay{
		&.style-1{
			.view-btn{
				left: auto;
				right: -100px;
			}
			&:hover{
				.view-btn{
					left: auto;
					right: 0;
				}
			}
		}
		&.style-2{
			.view-btn {
				right: auto;
				left: -40px;
				&:after {
					margin-right: 0;
					margin-left: 30px;
				}
			}
			.dz-info {
				padding: 30px 30px 20px 100px;
			}
		}
	}
	
	.dz-overlay-box{
		&.style-1{
			.dz-media span{
				right: auto;
				left: 0;
			}
			&:hover{
				.dz-media{
					span{
						right: auto;
						left: 60px;
					}
				}
			}
		}
		&.style-2{
			.dz-info{
				text-align: right;
			}
			.dz-media span{
				left: 0;
				right: auto;
			}
			&:hover .dz-media span {
				right: auto;
				left: 20px;
			}
		}
		
	}

	// hiw-area
	.hiw-area-1{
		&:after {
			left: auto;
			right: 0;
		}
	}
	
	// widget
	.widget_getintuch ul li {
		padding-left: 0;
		padding-right: 52px;
		i{
			left: auto;
			right: 0;
			margin-left: 10px;
			margin-right: 0;
		}
	}
	.widget_archive ul li, 
	.wp-block-categories-list li, 
	.wp-block-archives-list li, 
	.wp-block-latest-posts li, 
	.widget_categories ul li {
		text-align: left;
		padding: 0.5rem 1.5rem 0.5rem 0rem!important
	}
	.block-categories-list li a:before, 
	.wp-block-archives-list li a:before, 
	.widget_categories ul li a:before, 
	.widget_archive ul li a:before, 
	.widget_meta ul li a:before, 
	.widget_pages ul li a:before, 
	.widget_recent_comments ul li a:before, 
	.widget_nav_menu ul li a:before, 
	.widget_recent_entries ul li a:before, 
	.widget_services ul li a:before {
		left: auto;
		right: -1.5rem;
	}
	.widget_archive li a, 
	.wp-block-latest-posts li a, 
	.wp-block-categories-list li a, 
	.wp-block-archives-list li a, 
	.widget_categories li a {
		float: right;
		text-align: right;
	}
	.recent-posts-entry .widget-post-bx .widget-post .dz-info {
		padding-left: 0;
		padding-right: 20px;
	}

	// blog
	.dz-meta ul li{
		margin-left: 20px;
		margin-right: 0;
		i {
			margin-right: 0;
			margin-left: 10px;
		}
	}
	.dz-card{
		&.style-1 .btn-link i {
			margin-left: 0;
			margin-right: 10px;
			transform: rotateY(180deg);
		}
		&.style-2{
			.dz-meta ul li i {
				margin-right: 0;
				margin-left: 8px;
			}
			.btn-link i {
				margin-right: 0;
				font-size: 14px;
				margin-left: 10px;
			}
		}
		&.style-3 .btn-link i{
			font-size: 14px;
			transform: rotateY(180deg);
		}
		&.style-4{
			.dz-meta ul li{
				padding-left: 0;
				padding-right: 15px;
				&:after {
					left: auto;
					right: 0;
				}
			}
			.icon-btn {
				right: auto;
				left: 0;
				transform: rotateY(180deg);
			}
		}
	}

	.search-bx.style-1{
		.form-control{
			border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0!important;
		}
		button{
			border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm)!important;
		}
	}
	.pagination li .prev, 
	.pagination li .next {
		transform: rotateY(180deg);
	}
	
	// Blog Details
	.comments-area{
		.comment-list>.comment .comment-body{
			padding: 0 110px 0 0;
			
			.comment-author{
				.avatar {
					left: auto;
					right: 0;
				}
			}
			.reply .comment-reply-link {
				right: auto;
				left: 0;
				i {
					margin-right: 0;
					font-size: 14px;
					margin-left: 8px;
				}
			}
			@include respond('phone-land'){
				padding: 0 75px 0 0;				
			}
		}
		&.style-1 .comment-list>.comment .comment-body {
			padding: 0 115px 25px 0;
			@include respond('phone-land'){
				padding: 0 75px 25px 0;				
			}
		}
	}
	.comments-area .comment-list>.comment>.children {
		padding-left: 0;
		padding-right: 50px;
	}

	.dz-separator.style-1:before, 
	.dz-separator.style-1:after {
		left: auto;
		right: 0;
	}
	.dz-share-post ul li {
		margin-right: 0;
		margin-left: 5px;
	}
	.post-tags strong {
		margin-right: 0;
		margin-left: 10px;
	}
	.dz-page-text ul>li:before, 
	.dz-page-text ol>li:before, 
	.dz-card.blog-single .dz-post-text ul>li:before, 
	.dz-card.blog-single .dz-post-text ol>li:before {
		left: auto;
		right: -0.938rem;
	}
	.dz-page-text>ol, 
	.dz-page-text>ul, 
	.dz-card.blog-single 
	.dz-post-text>ol, 
	.dz-card.blog-single .dz-post-text>ul, 
	.dz-card.blog-single .dz-post-text.text>ol, 
	.dz-card.blog-single .dz-post-text.text>ul {
		padding-left: 0;
		padding-right: 1.25rem;
	}
	.wp-block-quote.is-large cite:before, 
	.wp-block-quote.is-style-large cite:before, 
	blockquote.wp-block-quote cite:before, 
	blockquote.wp-block-pullquote cite:before, 
	blockquote.wp-block-pullquote.alignright cite:before, 
	blockquote.wp-block-pullquote.alignleft cite:before, 
	blockquote cite:before {
		margin-left: 0.625rem;
		margin-right: 0;
	}
	.widget_tag_cloud .tagcloud a {
		margin: 0 0 15px 15px;
		@include respond('phone'){
			margin: 0 0 10px 10px;
		}
	}
	.dz-page-text>.wp-block-gallery, 
	.dz-card.blog-single .dz-post-text>.wp-block-gallery, 
	.dz-card.blog-single .dz-post-text.text>.wp-block-gallery{
		padding: 0;
	}

	// Site Footer
	.site-footer{
		.recent-posts-entry .widget-post-bx .widget-post .dz-info {
			padding-left: 0;
			padding-right: 15px;
		}
		&.style-2{
			.widget_categories {
				padding-left: 0;
				padding-right: 50px;
			}
			.footer-bottom ul li:last-child {
				padding-left: 0;
				padding-right: 20px;
			}
			@include respond('tab-land'){
				.widget_categories {
					padding-right: 0;
				}
			}
		}
		&.style-4 .widget.widget_links.p-l50 {
			@include respond('tab-land'){
				padding-right: 0;
			}
		}
	}
	.footer-link li{
		padding: 0 20px 0 25px;
		&:before {
			left: auto;
			right: 0;
		}
	}
	
	// testimonial
	.test-area1{
		.testi-inner{
			&:after{
				float: left;
				margin-right: 0;
				margin-left: -145px;
				right: auto;
				left: 0;
				border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
			}
		}
		&.left{
			.testi-inner{
				&:after{
					border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
				}
			}
		}
		.testimonial-1 {
			padding: 50px 0 50px 50px;
		}
		.swiper-container{
			margin-right: 0;
			margin-left: -145px;
		}
		@include respond('phone-land'){
			.testimonial-1 {
				padding: 25px;
			}
			.testi-inner:after{
				margin-left: 0;
			}
			.swiper-container{
				margin-left: 0;
			}
		}
	}
	.testimonial-1{
		&:after {
			right: auto;
			left: 60px;
			transform: rotateY(180deg);
		}
		.testimonial-pic {
			margin-right: 0;
			margin-left: 20px;
		}
		@include respond('phone-land'){
			&:after {
				left: 30px;
			}
			.testimonial-pic {
				margin-left: 15px;
			}
		}
	}
	.testimonial-2:after {
		right: auto;
		left: 40px;
		transform: rotateY(180deg);
	}
	.testimonial-3	.testimonial-pic .info {
		padding-left: 0;
		padding-right: 20px;
	}
	.testimonial-4:after {
		right: auto;
		left: 40px;
		transform: rotateY(180deg);
	}
	.testimonial-5{
		.testimonial-pic {
			margin-right: 0;
			margin-left: 20px;
			&:after {
				left: auto;
				right: -18px;
				padding: 10px 12px 0 0;
			}
		}
	}
	
	// Contact Us
	.content-area{
		.map-iframe {
			float: left;
		}
		.dz-form{
			margin-left: 0;
			margin-right: -200px;
		}
		@include respond('tab-port'){
			.dz-form{
				margin-right: 0;
			}
		}
	}
	
	.dz-form{
		&.style-3{
			.input-group-prepend + .form-control,
			.input-group-prepend + .form-control + .bootstrap-select,
			.input-group-prepend + .form-control + .custom-file-label{
				padding: 10px 65px 10px 20px;
			}
			.input-group-prepend{
				left: auto;
				right: 10px;
				border-right: 0;
				border-left: 1px solid #9192a4;
				margin-left: 10px;
				margin-right: 0;
			}
			.input-group-prepend +  textarea.form-control{
				padding: 18px 65px 18px 20px;
			}
		}
	}
	
	// List Group
	.list-circle li, 
	.list-angle-double li, 
	.list-square li, 
	.list-settings li {
		padding: 6px 15px 6px 5px;
		&:before{
			left: auto;
			right: 0;
		}
	}
	.list-settings li {
		padding: 8px 50px 8px 5px;
	}
	
	// breadcrumb
	.breadcrumb-row .breadcrumb{
		.breadcrumb-item {
			padding-right: 30px;
			padding-left: 15px;
			&::before{
				content: "\f114";
				left: auto;
				right: 0;
			}
			&:first-child{		
				padding-right: 0;
				&::before{
					content: none;
				}
			}
			&:last-child{
				padding-left: 0;
			}
		}
		.breadcrumb-item+.breadcrumb-item::before {
			padding-right: 0;
			float: right;
			padding-left: .5rem;
		}
	}
	
	// dz-bnr-inr styles
	.dz-bnr-inr{
		// Style 2
		&.style-2{
			.breadcrumb-row .breadcrumb{
				@include respond('phone'){
					.breadcrumb-item{
						padding-left: 10px;
						padding-right: 25px;
						&:first-child {
							padding-left: 10px;
							padding-right: 0;
						}
						&:last-child {
							padding-left: 0;
							padding-right: 25px;
						}
					}
				}
			}
		}
	}
	
	// countdown
	.sidenav-menu {
		left: auto;
		right: 0;
		border-right: 0;
		border-left: 1px solid rgba(0,0,0,0.2);
	}
	.dz-coming-soon {
		padding-left: 0;
		padding-right: 90px;
		
		.btn.m-r10{
			margin-right: 0;
			margin-left: 10px;
		}
		@include respond('phone'){
			padding-right: 50px;			
		}
	}
	.countdown .date{
		padding-right: 0;
		padding-left: 30px;
		@include respond('tab-land'){
			padding-left: 10px;
		}
	}
	
	.swiper-container{
		direction: ltr;
		.swiper-slide{
			direction: rtl;
		}
	}
	
	.section-head{
		&.style-1{
			.sub-title {
				padding-right: 55px;
				padding-left: 0;
				
				&:before {
					left: auto;
					right: 0;
				}
				&:after {
					left: auto;
					right: 16px;
				}
			}
		}
	}
	
	.silder-one .silder-content{
		@include respond('phone-land'){
			padding: 30px 15px 30px 50px;
		}
		@include respond('phone'){
			padding: 0;
		}
	}
	.silder-two{
		.bg-shape-left {
			left: auto;
			transform: rotate(140deg);
			right: -560px;
		}
		.bg-shape-right {
			right: auto;
			left: -320px;
			transform: rotate(-40deg);
		}
	}
	.silder-three.main-silder-swiper{
		@include respond('phone'){			
			.btn-prev {
				left: auto;
				right: -10px;
			}
			.btn-next {
				left: auto;
				right: 36px;
			}
		}
	}
	.silder-for .silder-content {
		left: auto;
		right: 10%;
	}

	.dz-bnr-inr.style-2 .shap-bx {
		transform: rotateY(180deg);
	}
	
	.lg-outer{
		direction: ltr;
	}
	.slider-3 .down-side {
		left: 15%;
		right: auto;
		@include respond('phone'){
			left: 15px;
		}
	}
	
	.list-circle, 
	.list-angle-double, 
	.list-square, 
	.list-square-check, 
	.list-settings{
		li:before{
			left: auto;
			right: 0;
		}
	}
	.list-square-check li{
		padding: 10px 60px 10px 15px;
	}
	.about-bx2 .year-exp{
		left: auto;
		right: 0;
		padding: 30px 5px 5px 40px;
		
		.year{
			margin-right: 0;
			margin-left: 20px;
		}
		.text {
			margin: 0;
		}
	}
	.about-bx5{
		.dz-media{
			padding-left: 15px;
			padding-right: 0;
			
			&:after {
				right: auto;
				left: 80px;
			}
			.circle-bg {
				left: auto;
				right: -25%;
			}
			&.right{
				padding-right: 15px;
				padding-left: 0;
					
				&:after {
					left: auto;
					right: 80px;
				}
				.circle-bg{
					left: -25%;
					right: auto;
				}
			}
			@include respond('tab-port'){
				padding-left: 0;
				padding-right: 0;
				
				&.right{
					padding-right: 0;
					padding-left: 0;
				}
			}
		}
	}
	.about-bx6 .dz-media{
		.img1 {
			left: auto;
			right: 0;
		}
		.img2 {
			margin-left: 0;
			margin-right: 200px;
			&:after{
				right: auto;
				left: 60px;
			}
		}
	}
	
	.blog-area1{
		@include respond('tab-port-min'){
			[class*="col-"]{
				&:first-child{
					.dz-card{
						.dz-media{
							border-radius: 0 var(--border-radius-base) 0 0;
						}
						.dz-info{
							border-radius: 0 0 var(--border-radius-base) 0;
						}
						&.blog-top{
							.dz-info{
								border-radius: 0 var(--border-radius-base) 0 0;						
							}
							.dz-media{
								border-radius: 0 0 var(--border-radius-base) 0;
							}
						}
					}
				}
				&:last-child{
					.dz-card{
						.dz-media{
							border-radius: var(--border-radius-base) 0 0 0;
						}
						.dz-info{
							border-radius: 0 0 0 var(--border-radius-base);
						}
						&.blog-top{
							.dz-info{
								border-radius: var(--border-radius-base) 0 0 0;				
							}
							.dz-media{
								border-radius: 0 0 0 var(--border-radius-base);
							}
						}
					}
				}
			}
		}
	}
	.blog-single{
		&.style-1{
			.dz-meta ul li{
				margin-left:10px;
				margin-right:0;
				&:first-child{
					margin-left:10px;
					margin-right:0;
				}
			}
		}
	}
	
	.ft-subscribe form .input-group{
		button.btn,
		button.wp-block-button__link{
			border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm)!important;
		}
		.form-control{
			border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0!important;
		}
	}
	.dz-share-post .title {
		padding-right: 0;
		padding-left: 10px;
	}
	.search-bx {
		button {
			border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
		}
	}
	.search-bx .form-control, 
	.search-bx .wp-block-categories-dropdown select, 
	.wp-block-categories-dropdown .search-bx select, 
	.search-bx .wp-block-archives-dropdown select, 
	.wp-block-archives-dropdown .search-bx select, 
	.search-bx .comment-respond .comment-form p.comment-form-author input, 
	.comment-respond .comment-form p.comment-form-author .search-bx input, 
	.search-bx .comment-respond .comment-form p.comment-form-email input, 
	.comment-respond .comment-form p.comment-form-email .search-bx input, 
	.search-bx .comment-respond .comment-form p.comment-form-url input, 
	.comment-respond .comment-form p.comment-form-url .search-bx input, 
	.search-bx .comment-respond .comment-form p textarea, 
	.comment-respond .comment-form p .search-bx textarea {
		border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0!important;
	}
	
	.dz-box.style-3{
		.dz-info {
			left: 0;
			right: auto;
			border-radius: 0 var(--border-radius-base) 0 0;
			
			.line{
				margin-left: 15px;
				margin-right: 0;
			}
		}
		.view-btn {
			left: auto;
			right: 30px;
		}
	}
	
	.swiper-container-initialized{
		.btn-next i, 
		.btn-prev i {
			transform: rotateY(180deg);
		}
	}
	.main-silder-swiper{
		.btn-prev {
			left: auto;
			right: 50px;
		}
		.btn-next {
			left: 50px;
			right: auto;
		}
		@include respond('laptop'){
			.btn-next{
				right:auto;
				left:-10px;
			}
			.btn-prev{
				left:auto;
				right:-10px;
			}
		}
		@include respond('phone'){
			.btn-prev{
				left: 36px;
				right: auto;
			}
			.btn-next {
				right: auto;
				left: -10px;
			}
		}
	}
	
	.banner-one .video-btn i {
		margin-right: 0;
		margin-left: 15px;
	}
	
	.client-logo-wrapper{
		.clients-grid{
			border-left:1px solid rgba(255,255,255,0.1);
			border-right:0;
			&:nth-child(5),
			&:nth-child(10){
				border-left:0;
				border-right:1px solid rgba(255,255,255,0.1);
			}
		}
		@include respond ('phone'){
			.clients-grid{
				&:nth-child(5),
				&:nth-child(10){
					border-right:0;
					border-left:1px solid rgba(255,255,255,0.1);
				}
				&:nth-child(even){
					border-right:1px solid rgba(255,255,255,0.1);
					border-left:0;
				}
			}
		}
	}
	
	.progress-bx{
		&.style-3 .progress .progress-bar .progress-value{
			right: auto;
			left: 0;
		}
	}
	
	.inquiry-modal .btn-close {
		right: auto;
		left: -40px;
	}
	
	.under-construct{
		&.style-3{
			.inner-box img {
				left: auto;
				right: 0;
			}
			.dz-content{
				padding-left: 0;
				padding-right: 200px;
			}
			@include respond('tab-port'){
				.dz-content{
					padding-left: 0;
					padding-right: 130px;
				}
			}
			@include respond('phone-land'){
				.dz-content{
					padding-right: 0;
				}
			}
		}
		&.style-4{
			.bg-wind {
				.bg-wind-bx {
					right: auto;
					left: 15%;
					
					&.wind-bx-3 {
						right: auto;
						left: 35%;
					}
					.wind-bx-2 {
						left: auto;
						right: 6%;
					}
				}
			}
		}
	}
	// Onepage Home
	.testimonial-15{
		&:after{
		    left: -30px;
			padding-left: 30px;
			padding-right: 10px;
			right: auto;
		}
		.testimonial-pic{
			float: right;
			margin-left: 15px;
		    margin-right: 0;
		}
	}
	.food-project {
		margin-left: 0;
		margin-right: calc(calc(100% - 1200px) / 2);
		padding-right: 15px;
		padding-left: 0;
		@include respond('tab-land'){
			margin-left: auto;
		    margin-right: auto;
			padding-right: 15px;
		}
	}
	.project-nav{
	    right:auto;
	    left: 200px;
		@include respond('tab-land'){
			left: 10px;
			right:auto;
		}
	}	
	.service-box.style2{
		&:after {
			left: auto;
			right: -10px;
		}
		&.right:after {
			right: auto;
			left: -10px;
		}
	}

	.about-bx8 {
		
		.about-img-box {
			position:relative;
			display:flex;
			.about-img-two {
				margin-right: auto;
				margin-left: 0;
			}
			.about-img-one{
				right:0;
				left:auto;
			}
			.about-shape4{
				left: -70px;
				right:auto;
			}
			.about-shape1{
			    right: 0;
			    left:auto;
			}
			.about-shape2{
				right: 50px;
				left:auto;
			}
		}
		.about-contact-box {
			padding: 0 100px 0px 0px;
			@include respond('tab-land'){
				padding: 0;
			}
		}
	}
	
	// Onepage 2
	.agro-video{
	    float: left;
	}
	.agro-about:after{
		right: -40px;
		left:auto;
	    border-left: 0;
	    border-right: 10px solid #fff;
	}
	.agro-list li{
		padding-right: 45px;
		padding-left:0;
		&:before{
			right: 0;
			left:auto;
		}
	}
	.testimonial-area8{
		margin-left: auto;
		padding-left: 0;
		padding-right: 100px;
		&:after{
		    left:auto;
		    right: 0;
			transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
		}
		@include respond('phone'){
			padding-right: 0;
		}
	}
	.testimonial-6{ 
		text-align:right;
	}
	.trending-post .dz-info .dz-meta ul li:last-child{
		margin-left: 0;
	}
	
	// Onepgae 3 Home
	.construct-header {
		.top-bar:after{
			right:auto;
			left: calc(50% + 300px);
			transform: skewX(-30deg);
			border-left: 4px solid #fff;
			border-right:0;
			@include respond('tab-land'){
				left: calc(50% + 250px);
			}
		}
		.dz-topbar-right ul li, 
		.dz-topbar-left ul li{ 
			a{
				border-right: 1px solid rgba(255, 255, 255, 0.2);
				border-left: 0;
			}
			&:last-child a{
				border-left: 1px solid rgba(255, 255, 255, 0.2);
			}
		}
		.extra-nav{
			margin-right:30px;
			margin-left:0;
		}
	}
	.dz-portfolio-bx .port-box{
		text-align:right;
	}
	.testimonial-box1{
	
		.testimonial-pic{
			margin-right:0;
			margin-left: 5px;
		}
		.testimonial-quote{
		    left: 30px;
		    right: 0;
		    transform: rotate(180deg);
		}
		&:after{
			left: 0;
			right: auto;
			transform: rotate(135deg) translate(42px, 0px);
			-webkit-transform: rotate(135deg) translate(42px, 0px);
			-moz-transform: rotate(135deg) translate(42px, 0px);
		}
	}
	.dz-card.style-6 .dz-meta .post-author{
		margin-left:0;
		img{
		    margin-right: 0;
		    margin-left: 10px;
		}
	}
	.about-bx7{
		.about-contact-box{
		    padding-right: 100px;
		    padding-left: 0;
			@include respond('tab-port'){
				padding-right: 0;
			}
			.rotate-text{
			    left:auto;
			    right: -255px;
				@include respond('tab-port'){
					display:none;
				}
			}
		}
		.nav-tabs li{
		    padding-left: 60px;
		    padding-right: 0;
			
			&:after{
			    left: 20px;
				right:auto;
			}
		}
	}
	.contact-info-bx li{
	    padding-left:0;
	    padding-right: 35px;
		i{
		    left: auto;
		    right: 0;
		    margin: 0;
		}
	}
	.footer-bottom-in .dz-social-icon li{
		a{
			border-left: 1px solid rgba(255, 255, 255, 0.1);
		}
		&:first-child a {
			border-right: 1px solid rgba(255, 255, 255, 0.1);
		}
	}
	.banner-one .mining-worker{
		left:auto;
		right:50%;
	}
	.header-nav .nav > li.homedemo .mega-menu > li > a{
		padding:8px 20px 8px 20px;
	}
	.dz-form.style-4 label {
		left: auto;
		right: 0;
	}
	
	.about-bx9 {
		.about-year{
			span{
				padding-left: 15px;
				padding-right: 30px;
				
				&:after {
					left: auto;
					right: 0;
				}
			}
		}
		.about-contact-box{
			padding-left: 0;
			padding-right: 30px;
		}
		@include respond('tab-port'){
			.about-contact-box{
				padding-right: 0;
			}
		}
	}
}