// Testimonial 1
.testimonial-1 {
	background-color: var(--primary);
    padding: 50px;
    position: relative;
	@include transitionMedium;
	color: #fff;
	border-radius: var(--border-radius-base);
	
	.testimonial-text{
		margin-bottom: 25px;
	}
	.testimonial-pic{
		border: 5px solid #fff;
		border-radius: 50%;
		overflow: hidden;
		height: 90px;
		width: 90px;
		margin-right: 20px;
			
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.testimonial-detail {
		padding: 0;
		display: flex;
		align-items: center;
	}
	.testimonial-name{
		margin-bottom: 5px;
		line-height: 1.3;
		color: inherit;
	}
	&:after{
		content: "\f10d";
		font-family: Flaticon;
		position: absolute;
		bottom: 30px;
		right: 60px;
		opacity: 0.4;
		font-size: 70px;
	}
	@include respond('phone-land'){
		padding: 25px;
		&:after{
			font-size: 50px;
		}
		.testimonial-pic{
			border: 3px solid #fff;
			height: 70px;
			width: 70px;
			margin-right: 15px;
		}
		.testimonial-text{
			margin-bottom: 20px;
		}
		&:after{
			font-size: 40px;
			bottom: 25px;
			right: 30px;
		}
	}
}

.test-area1{
	overflow: hidden;
	.testi-inner{
		position: relative;
		&:after{
			content: "";
			width: 65vw;
			float: right;
			margin-right: -145px;
			background-color: var(--primary);
			position: absolute;
			height: 100%;
			top: 0;
			right: 0;
			border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
		}
	}
	.testimonial-1 {
		padding: 50px 50px 50px 0;
	}
	.swiper-container{
		margin-right: -130px;	
	}
	.media-full{
		width: 50vw;
		height: 100%;
		img{
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
	@include respond('tab-port'){
		.testi-inner:after{
			width: 75vw;
		}
	}
	@include respond('phone-land'){
		.testimonial-1{
			padding: 25px;
		}
		.testi-inner:after{
			content: none;
		}
		.swiper-container{
			margin-right: 0;
		}
		.media-full{
			width: 100%;
			height: auto;
			margin-bottom: 50px;
		}
	}
	&.left{
		.media-full{
		    float: right;
		}
		.testi-inner:after{
			float: left;
			margin-right:0;
			margin-left: -145px;
			left: 0;
			right:auto;
		}
		.swiper-container {
			margin-right:0;
			margin-left: -130px;
			@include respond('phone-land'){
				margin-left: 0;
			}
		}
		.testimonial-1 {
			padding: 50px 0 50px 50px;
			@include respond('phone-land'){
				padding: 30px;
			}
		}
		.media-full {
			@include respond('phone-land'){
				margin-bottom: 0;
				margin-top: 50px;
			}			
		}
		.testi-inner{
			&:after{
				border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
			}
		}
	}
}