.about-bx8 {
	overflow:hidden;
	.about-img-box {
		position:relative;
		display:flex;
		.about-img-one {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		.about-img-two {
			flex:0 0 50%;
			max-width:50%;
			margin-left:auto;
			@include respond('tab-land'){
				flex:0 0 60%;
				max-width:60%;
			}
		}
		.video-bx {
			position: relative;
			z-index: 1;
			border-radius: 0;
			overflow: hidden;
			border: 5px solid #fff;
		}
		.video-title {
			position: absolute;
			left: 0;
			bottom: -50px;
			right: 0;
			width: 100%;
			font-size: 40px;
			line-height: 40px;
			font-weight: 700;
			font-family: auto;
			text-align: center;
			font-family: 'Knewave', cursive;
			transform: rotate(-30deg);
			z-index: 3;
		}
		.about-shape1 {
			position: absolute;
			top: 0;
			left: 0;
			background: url(../../images/food/about/shape-1.png);
			background-repeat: no-repeat;
			width: 100px;
			height: 100px;
		}
		.about-shape2 {
			position: absolute;
			top: 50px;
			left: 50px;
			background: url(../../images/food/about/shape-2.png);
			background-repeat: no-repeat;
			width: 239px;
			height: 66px;
		}
		.about-shape4 {
			position: absolute;
			top: 140px;
			right: -70px;
			background: url(../../images/food/about/shape-3.png);
			background-repeat: no-repeat;
			width: 117px;
			height: 130px;
			z-index: 0;
		}
	}
	.about-shape-box{
		@include respond('tab-land'){
			display:none;
		}
	}
	.video-bx{
		@include respond('tab-land'){
			width: 340px;
		}
		@include respond('phone'){
			width: 200px;
		}
	}
	.about-contact-box {
	   padding: 0 0px 0px 100px;
	   @include respond('tab-land'){
			padding: 0;
	   }
		.section-head{
			margin-bottom: 30px;
		}
	}
}


