.bg-primary-light{
	background-color:var(--rgba-primary-1);
}
.about-media{
	&.style-3{
		padding-left: 60px;
		.video-bx{
			position: absolute;
			left: 0;
			bottom: 60px;
			width: 270px;
			height: 270px;
			border: 10px solid #fff;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
			overflow: hidden;
			border-radius: var(--border-radius-base);
			background-color: #fff;
		}
		img{
			border-radius: var(--border-radius-base);
		}
		@include respond('phone'){
			padding-left: 40px;
			.video-bx{
				bottom: 30px;
				width: 150px;
				height: 150px;
				border: 5px solid #fff;
			}
		}
	}
}