.site-footer{
	&.style-2{
		color: #b7b4c2;
		background-color: var(--secondary);
		background-position: center;
		background-size: cover;
		
		.footer-info{
			border-bottom: 1px solid rgba(255,255,255,0.3);
			padding: 60px 0;
			.footer-logo{
				margin-bottom: 0;
				max-width: 100%;
				img{
					height: 60px;
				}
			}
			.widget_categories{
				padding-left: 0;
				margin-bottom: 0;
				ul{
					margin: 0 -15px;
					li{
						display: inline-block;
						width: auto;
						margin: 0 15px;
					}
				}
			}
		}
		.footer-top{
			padding: 80px 0 40px;
			.text{
				margin: 0 50px 45px;
			}
			.footer-logo{
				margin-bottom: 25px;
				img {
					height: 60px;
				}
			}
		}
		.widget-title {
			margin-bottom: 20px;
			.title{
				color: $white;
			}
		}
		.widget_about{
		    padding-right: 15px;
		}
		.widget_categories{
			padding-left: 50px;
		}
		.footer-link li a {
			color: #fff;
		}
		.footer-bottom{
			background-color:#09090c;
			background-position: center;
			background-size: cover;
			padding: 0;
			.fb-inner{
				padding-top:20px;
				padding-bottom:20px;
			}
			ul{
				li{
					display: inline-block;
					a{
						@include transitionMedium;
						&:hover{
							color: var(--primary);
						}
					}
					&:before{
						color: var(--primary);
					}
					&:last-child{
						padding-right: 0;
					}
				}
			}
		}
		.footer-title{
			padding-bottom: 0;
			margin-bottom: 10px;
		}
		@include respond('tab-land'){
			.widget_categories{
				padding-left: 0;
			}
			.widget_about{
				padding-right: 0;
			}
			.footer-info{
				padding: 40px 0;
			}
		}
		@include respond('tab-port'){
			.footer-top {
				padding: 70px 0 30px;
			}
		}
		@include respond('phone-land'){
			.footer-bottom{
				.text-end{
					margin-top: 15px;
				}
			}
		}
		@include respond('phone'){
			.footer-top{
				padding: 50px 0 10px;
				.text {
					margin: 0 0px 30px;
				}
				.footer-logo {
					margin-bottom: 30px;
				}
			}
			.footer-info{
				padding: 40px 5px 30px;
			}
		}
	}
}