.icon-bx-wraper{
	// Style 14
	&.style-14{
		//border-radius:$border-radius-md;
		background:$white;
		box-shadow: 0 0 60px 0 rgba(0,0,0,0.1);
		padding: 30px;
		@include transitionMedium;
		
		&:hover{
			transform:	translateY(-15px);	
		}
		.icon-media{
			margin-bottom:25px;
		}
		.icon-content{
			.dz-title{
				margin-bottom:15px;	
			}
		}
		
	}
}