.icon-bx-wraper{
	// Style 1
	&.style-1{
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		.sep-tl{
			left: 30px;
			top: 30px;
		}
		.sep-br{
			right: 30px;
			bottom: 30px;
		}
		.sep-tr{
			right: 30px;
			top: 30px;
		}
		.sep-bl{
			left: 30px;
			bottom: 30px;
		}
		.title{
			color: $white;
			a{
				color:inherit;	
			}
		}
		.sub-title{
			letter-spacing: 3px;
			font-weight: 400;
			font-size: 15px;
			margin-bottom: 0;
		}
	}
}