.icon-bx-wraper{
	// Style 4
	&.style-4{
		background: #fff;
		padding: 25px;
		align-items: center;
		display: flex;
		border-radius: var(--border-radius-base);
		@include transitionMedium;
		
		.dz-title{
			font-size: 50px;
			line-height: 1;
			margin-bottom: 2px;
			@include transitionMedium;
			@include respond('laptop'){
				font-size: 36px;				
			}
		}
		.icon-cell{
			@include transitionMedium;
		}
		.icon-lg{
		    line-height: 1;
			margin-bottom: 0;
			margin-right: 15px;
			i {
				font-size: 50px;
				@include transitionMedium;
			}
		}
		p{
			color: var(--title);
			@include transitionMedium;
		}
		&:hover{
			background-color: var(--primary);
			transform: translateY(-5px);
			
			p,
			.dz-title{
				color: #fff;
			}
			.icon-cell{
				i{
					color: #fff;
				}
			}
		}
	}
}