.icon-bx-wraper{
	// Style 7
	&.style-7{
		min-height: 70px;
		.icon-bx-sm {
			width: 70px;
			height: 70px;
			min-width: 70px;
			line-height: 70px;
			border: 1px solid var(--rgba-primary-2);
			border-radius: var(--border-radius-sm);

			i{
				font-size: 35px;
			}
		}
		p{
			font-size: 18px;
		}
		@include respond('phone-land'){
			margin-bottom: 20px;
			p {
				font-size: 16px;
			}
		}
	}
}