// OWL SLIDER ================
.pagination-style1{
	.swiper-pagination{
		position: unset;
		margin-top: 30px;
		.swiper-pagination-bullet{
			opacity: 0.1;
			&.swiper-pagination-bullet-active{
				background-color: var(--primary);
				opacity: 1;
			}
		}
		@include respond('phone-land'){
		    margin-top: 10px;
		}
	}
}
// pagination-style2
.pagination-style2{
	.swiper-pagination-bullets{
		margin-top: 15px;
		position: unset;
		.swiper-pagination-bullet{
			height: 45px;
			width: 45px;
			line-height: 45px;
			border-radius: 0;
			opacity: 1;
			background: transparent;
			font-size: 18px;
			font-weight: 700;
			color: #777;
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-block;
			@include transitionSlow;
			border-radius: var(--border-radius-sm);
				
			&:after{
				content: none;
			}
			&.swiper-pagination-bullet-active{
				color: #fff;
				background-color: var(--primary);
			}
			@include respond('phone'){
				height: 35px;
				width: 35px;
				line-height: 35px;
				font-size: 14px;
			}
		}
	}
}