nav{ 
	.pagination{
		.page-item{
			margin: 0 6px;
			.page-numbers,
			.page-link{
				height: 45px;
				min-width: 45px;
				line-height: 42px;
				border-radius: 0;
				color: #777777;
				text-align: center;
				border: 0;
				padding: 0;
				transition: all 0.5s;
				border: 1px solid;
				border-color: #777777;
				font-size: 18px;
				padding: 0 10px;
				display: block;
				border-radius: var(--border-radius-sm);
				
				&.current,
				&.active,
				&:hover{
					color: $white;
					background-color: var(--secondary);
					border-color: var(--secondary);
				}
			}
			.prev,
			.next{
				border-color: transparent;
				font-size: 18px;
			}
			&:first-child,
			&:last-child{
				.page-link{
					border-radius: var(--border-radius-sm);
				}
			}
		}
		&.text-center{
			justify-content: center;
		}
		&.rounded-0{
			.page-item{
				.page-link{
					border-radius: 0;
				}
			}
		}
		@include respond('phone-land'){
			&.m-t40{
				margin-top: 0;
			}
		}	
	}
}