.dz-coming-soon {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
	padding-left:90px;
    display: flex;	
	background-color: #fff;
		
	@include respond('tab-port'){
		flex-wrap: wrap;
	}
	@include respond('phone'){
		padding-left: 50px;
	}
	.dz-title{
		font-size: 60px;
		line-height: 1.2;
		color: #000;
		margin-bottom: 20px;
		@include respond('laptop'){
			font-size: 50px;
			line-height: 60px;
		}
		@include respond('tab-land'){
			font-size: 40px;
			line-height: 50px;
		}
		@include respond('phone'){
			font-size: 28px;
			line-height: 35px;
			margin-bottom: 15px;	
		}
	}
	.dz-coming-bx{
		padding-left: 80px;
		padding-right: 80px;
		flex: 0 0 50%;
		max-width:50%;
		align-items: center;
		display: flex;
		
		@include respond('laptop'){
			padding-left: 50px;
			padding-right: 50px;
		}
		@include respond('tab-port'){
			flex: 0 0 100%;
			max-width: 100%;
			align-items: center;
			display: flex;
			padding: 60px 20px;
			text-align: center;
			justify-content: center;
		}
		@include respond('phone'){
			padding: 20px 10px;	
		}
	}
	@include respond('tab-land'){
		.btn{
			font-size: 13px;
			padding: 15px 20px;
		}
	}
	@include respond('phone'){
		.btn{
			font-size: 12px;
			padding: 12px 15px;
			letter-spacing: 0;
		}
	}
	.slider-box{
		flex: 0 0 50%;
		max-width:50%;
		@include respond('tab-port'){
			flex: 0 0 100%;
			max-width: 100%;
		}
		img{
			width:100%;
			height:100%;
			object-fit:cover;
		}
	}
	
	
	&.style-3{
		overflow: hidden;
		padding-left: 0;
		.logo{
			margin-bottom:20px;
			width:200px;
			padding:5px;
			svg,
			img{
				width:100%;
			}
			@include respond('tab-port'){
				margin-bottom:20px;
				width:180px;
				margin-left:auto;
				margin-right:auto;
			}
		}
		@include respond('tab-port'){
			.bottom-left {
				padding-bottom: 30px;
			}
			.center-md{
				min-height: calc(100vh - 100px);
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 60px 0;
			}
			.dz-coming-bx{
			    display: block;
				padding: 0;
			}
			.countdown-timer {
				margin-bottom: 35px;
			}
		}
		.countdown{
			margin-bottom:0;
			.date{
				color:#fff;
			}
		}
		.sy-box {
			background: #031322;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			left:0;
			
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background: #271302;
				z-index: 3;
				opacity: 0.85;
			}
		}
		.sy-controls{
			display:none;
		}
		.sy-pager{
			display:none;
		}
		.dz-title{
			color:#fff;
		}
		.copyright-text{
			color:#fff;
			margin: 0;
			font-size: 16px;
		}
		.sy-slide > img{
			height: 120%;
			object-fit: cover;
			min-height: 120vh;
		}
		.dz-social-icon{ 
			margin-bottom:15px;
			li {
				display:inline-block;
				margin-right: 5px;
				a{
					margin-right: 0px;
					width: 40px;
					height: 40px;
					background: var(--primary);
					line-height: 40px;
					text-align: center;
					border-radius: var(--border-radius-lg);
					color: #fff;
					&:hover{
						background:var(--hover-primary);
					}
				}
			}
		}
	}	
	&.mining-cs{
		
		.dz-title{
			font-family: var(--font-family-title);
			letter-spacing: 10px;
		}
		
			.center-md {
				@include respond('tab-port'){
					display: block;
				}
				@include respond('phone-land'){
					padding: 30px 0;
				}
			}
		
		.mining-worker{
			width:60%;
			height:100%;
			position:absolute;
			top:0;
			right:0;
			z-index:-1;
			@include respond('phone-land'){
				opacity:0;
			}
			img{
				width: 12%;
				position: absolute;
				&:nth-child(1) {
					right: 25%;
					top: 0%;	
					animation: dzMove1 8s linear infinite;
				}
				&:nth-child(2) {
					left: 25%;
					top: 35%;
					animation: dzMove1 7s linear infinite;
				}
				&:nth-child(3) {
					left: 0%;
					top: 25%;
					animation: dzMove1 9s linear infinite;
				}
				&:nth-child(4) {
					bottom: 18%;
					right: 5%;
					animation: dzMove1 8.5s linear infinite;
				}
				&:nth-child(5) {
					bottom: 2%;
					right: 35%;
					animation: dzMove1 8s linear infinite;
				}
				&:nth-child(6) {
					left: 20%;
					top: 5%;
					animation: dzMove1 9s linear infinite;
				}
			}
		}
		@include respond('tab-port'){
			.bottom-left{
			    padding-bottom: 0;
			}
			.bottom-right{
				padding-bottom: 20px;
			}

		}
		@include respond('phone'){
			.countdown-timer {
				padding-bottom: 0px;
			}
		}
		.train-run{
			width: 80%;
			position: absolute;
			bottom: 10%;
			transform: rotate(-35deg) translate(20%, 0);
			right: 0;
		    z-index: -1;
			@include respond('tab-port'){
				width: 150%;
				bottom: 0;
			}
			.main-train{
				-webkit-animation:30s scroll infinite linear;
				-moz-animation:30s scroll infinite linear;
				-o-animation:30s scroll infinite linear;
				-ms-animation:30s scroll infinite linear;
				animation:30s scroll infinite linear;
				background-repeat:repeat-x;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 1;
				background-size: cover;
			}
			.train{
				opacity:0;
			}
			.track{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
		@include respond('tab-port'){
			.countdown-timer .clock{
				display: inline-flex;
			}
		}
		
	}
	&.solar-cs{
		--font-family-title:'Montserrat', sans-serif;
		
		font-family:var(--font-family-title);
		color: #666;
		.dz-title{
			color:#000;
			font-family:var(--font-family-title);
		}
		.copyright-text{
			color: #666;
		}
		.countdown{
			margin-bottom:25px;
			.date{
				.time {
					color:var(--primary);
				}
				span{
					color:#666;
				}
			}
		}
		
		.lite{
			img{
				width: 8%;
				position: absolute;
				bottom: 0;
			    z-index: -3;
				&:nth-child(1){
					left: 5%;
					animation: dzMove1 8s linear infinite;
				}
				&:nth-child(2){
					left: 20%;
					width: 12%;
					animation: dzMove1 6s linear infinite;
				}
			}
		}
		.bg-wind {
			    z-index: -4;
			.bg-wind-bx{
			    width: 20px;
				@include respond('tab-port'){
					width: 12px;
				}
				@include respond('tab-port'){
					width: 8px;
				}
				.wind-rotate{
					top: -215px;
					left: -215px;
					@include respond('tab-port'){
						top: -145px;
						left: -145px;
						img{
							width: 300px;
						}
					}
					@include respond('tab-port'){
						top: -96px;
						left: -96px;
						img{
							width: 200px;
						}
					}
					
				}
				&.bg-wind-bx{
					right: 35%;
									}
				&.wind-bx-2{
					left: 15%;
					right: auto;
					transform: scale(0.5);
					transform-origin: bottom;
				}
				&.wind-bx-3{
					right: 15%;
					transform: scale(0.8);
					transform-origin: bottom;
					z-index:-3;
				}
			}
		}
		.bike{
			img{
				position: absolute;
				bottom: 0;
				right: -10%;
				width: 180px;
				z-index: -2;
				@include respond('tab-port'){
					width: 80px;
				}
			}
			.bike1{
				animation:bikeMove 15s linear infinite;
			}
			.bike2{
				animation:bikeMove 10s linear infinite;
			}
		}
		@include respond('tab-port'){
			display: block;
		}
		
	}
	&.industry-cs{
		#video-background{
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: -100;
		}
		&:before{
			z-index: -1;
		}
		@include respond('tab-port'){	
			.bottom-left {
				padding-bottom: 0;
			}
		}
		@include respond('phone'){	
			.countdown-timer {
				padding-bottom: 0;
			}
		}
	}
	
}
@keyframes bikeMove {
	100% { 
		right: 110%;
	} 
}


@-webkit-keyframes scroll{
	100%{
		background-position: -3000px 0px;
	}
}
.countdown{
	margin-bottom: 40px;
	@include respond('phone'){
		margin-bottom: 20px;
	}
	.date{
		color: #000;
		padding-right: 30px;
		display:inline-block;
		@include respond('tab-land'){
			padding-right: 20px;
		}
		@include respond('tab-land'){
			padding-right: 10px;
		}
		@include respond('phone'){
			padding-right: 5px;
			padding-left: 5px;	
		}
		.time{
			color: var(--primary);
			font-family: var(--font-family-title);
			font-weight: 700;
			letter-spacing: 4px;
			font-size: 90px;
			line-height: 90px;
			margin-bottom: 5px;	
			@include respond('laptop'){
				font-size: 55px;
				line-height: 55px;
			}
			@include respond('tab-land'){
				font-size: 50px;
				line-height: 50px;
			}
			@include respond('phone'){
				font-size: 36px;
				line-height: 36px;
			}
		}
		span {
			display: block;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			@include respond('tab-land'){
				font-size: 14px;
			}
			@include respond('phone'){
				font-size: 12px;
			}
		}
	}
}
/* Position */
.posi-center,
.bottom-right,
.bottom-left,
.top-right,
.top-left {
    position: fixed;
    z-index: 2;
	display: block;
	@include respond('tab-port'){
		position: unset;
	}
}

.bottom-right {
    bottom: 60px;
    right: 60px;
}
.bottom-left {
    bottom: 60px;
    left: 60px;
}
.top-right {
    top: 60px;
    right: 60px;
}
.top-left {
    top: 60px;
    left: 60px;
}

.posi-center {
    left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	text-align:center;
	width: 100%;	
}
.dez-align .top-right,
.dez-align .bottom-right{
	right:10px;
}
.countdown-timer {
    padding-bottom: 30px;
	.clock-item{
		width: 155px;
		position: relative;
		margin: 0 10px;
		@include respond('laptop'){
			width: 130px;
		}
		@include respond('phone-land'){
			width: 120px;
		}
		@include respond('phone'){
			width: 70px;
		    margin: 0 5px;
		}
	}
	.clock {
		display:flex;
		.text{
			position: absolute;
			top: 0;
			width: 100%;
			
		}
		.type-time{
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
			letter-spacing: 2px;
			text-align: center;
			margin-bottom: 0;
			@include respond('phone'){
				letter-spacing: 1px;
				font-size: 11px;
				line-height: 18px;
			}
		}
		.kineticjs-content{
			position:relative;
			&:after{
				content: "";
				position: absolute;
				border: 1px solid rgba(255,255,255,0.3);
				border-radius: 100%;
				top: 2px;
				bottom: 2px;
				left: 2px;
				right: 2px;
				z-index: -1;
			}
		}
		.val{
			font-size: 70px;
			color: #fff;
			width: 100%;
			line-height: 155px;
			text-align: center;
			margin-bottom: 15px;
			@include respond('laptop'){
				font-size: 50px;
				line-height: 130px;	
			}
			@include respond('phone-land'){
				line-height: 120px;
			}
			@include respond('phone'){
				line-height: 70px;
				font-size: 30px;
				margin-bottom: 5px;
				font-weight: 600;
			}
		}
	}
}
.sidenav-menu{
    position: fixed;
    left: 0;
    height: 100vh;
    width: 90px;
    border-right: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: space-between;
	@include respond('phone'){
	    width: 50px;	
		padding: 10px 5px 20px 5px;
	}
	.dz-social-icon{
		margin:0;
		li a{
			color: #000;
			text-transform: capitalize;
			font-weight: 400;
			writing-mode: vertical-rl;
			padding: 10px;
			margin: 0;
			display: block;
		}
	}
}