.map-iframe{
	width: 100%;
    
	iframe{
		width: 100%;
		border: 0;
		height:500px;
	}
	
	&.style-1{
		iframe{
			height:600px;
			margin-bottom: -10px;
		}
	}
}

.content-area{
	.contact-inner{
		padding-left: 20px;
	}
	.dz-form{
		margin-left: -200px;
	}
	.map-iframe{		
		width: 43.5vw;
		height:100%;
		float: right;

		iframe{
			height:100%;
		}
	}
	@include respond('tab-land'){
		.map-iframe{		
			width: 41vw;
		}
	}
	@include respond('tab-port'){
		.contact-inner{
			padding-left: 0;
		}
		.dz-form{
			margin-left: 0;
		}
		.map-iframe {
			width: 100%;
			padding-top: 50px;
			height: 400px;
		}
	}
}

.contact-area1{
	padding: 80px 40px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;
    margin-top: -200px;
    position: relative;
    z-index: 1;
    background: #fff;
	border-radius: var(--border-radius-base);
	
	@include respond('laptop'){
		padding: 50px 40px;
	}
	@include respond('phone-land'){
		padding: 40px;
	}
	@include respond('phone'){
		padding: 40px 15px;
	}
}