.font-style-4{
	--font-family-title: 'Roboto';
	--font-family-base: 'Roboto';
	h1, .h1, 
	h2, .h2, 
	h3, .h3, 
	h4, .h4, 
	h5, .h5, 
	h6, .h6{
		--font-family-title:  'Roboto';
		--font-family-base: 'Roboto';
	}
}
.service-box-6{
    position: relative;	
    overflow: hidden;
    border-radius: 4px;
	.dz-info{
		position: absolute;
		bottom: -60px;
		width: 100%;
		text-align: center;
		padding: 30px 20px;
		background: rgb(2,0,0); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		@include transitionMedium;
		
		.title{
			margin-bottom:0;
			a{
				color: #fff;
			}
		}
		.readmore{
			margin-top:10px;
			opacity:0;
			@include transitionMedium;
		}
		.dz-separator{
			height: 3px;
			width: 70px;
		}
	}
	.icon-bx-sm {
		img{
			height: 40px;
		}
	}
	&:hover{
		.dz-info {
			bottom: 0;
			.readmore{
				opacity:1;
			}
		}
	}
}



/*  */

.agro-video{
	border:0;
	height:100%;
    width: 50vw;
    float: right;
	@include respond('tab-port'){
		width: 100%;
		float: none;
	}
	.img-cover {
		object-fit: cover;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: 100%;
	}
}

.agro-client-says{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
	&:after{
		content: "\f10d";
		font-family: FontAwesome;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 80px;
		color: var(--primary);
		line-height: 100px;	
	}
}
.testimonial-6 {
    text-align: left;
	.testimonial-text p {
		font-size: 20px;
		line-height: 1.5;
		color: #111;
		font-style: italic;
		font-weight: 400;
		@include respond('tab-port'){
			font-size: 15px;
		}
	}
	.testimonial-detail{
		padding:0;
		display: flex;
		align-items: center;
	}
	.testimonial-pic{
		width:90px;
		height:90px;
		border-color: var(--primary);
		@include respond('tab-port'){
			width: 70px;
			height: 70px;
		}
	}
	.info{
		padding: 0 20px;
		@include respond('tab-port'){
			padding: 0 15px;
		}
	}
	.testimonial-text{
		padding:0;
		margin-bottom:20px;
	}
	.testimonial-name {
		color: #000 !important;
		font-size: 24px;
		line-height: 1.5;
		@include respond('tab-port'){
			font-size: 20px;	
		}
	}
}

.agro-about{
	position:relative;
    z-index: 1;
	&:after{
		content: "";
		position: absolute;
		left: -40px;
		top: 0;
		width: 80px;
		height: 100%;
		background: var(--primary);
		transform: skewX(-5deg);
		z-index: -1;
		border-left: 10px solid #fff;
		@include respond('tab-port'){
			content:none;
		}
	}	
}
.agro-list{ 
	margin-bottom:30px;
	li{
		color: #fff;
		padding-left: 45px;
		font-size: 18px;
		line-height: 1.5;
		font-weight: 400;
		position: relative;
		min-height: 32px;
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		
		&:before{
			content: "\f00c";
			font-family: "Font Awesome 5 Free";
			width: 32px;
			height: 32px;
			background: #fff;
			border-radius: 30px;
			line-height: 32px;
			color: var(--primary);
			text-align: center;
			position: absolute;
			font-weight:900;
		    font-size: 14px;
			left: 0;
		}
	}
}
.testimonial-area8{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
	@include respond('phone'){
		padding-left: 0;
	}
	&:after{
		content: "\f10d";
		font-family: "Font Awesome 5 Free";
		position: absolute;
		left: 0;
		top: 0;
		font-size: 80px;
		color: var(--primary);
		line-height: 100px;	
		font-weight:900;
		@include respond('phone'){
			content:none;
		}
	}
}
.testimonial-nav8{
	.testimonial-next8,
	.testimonial-prev8{
		position: absolute;
		top: 50%;
		width: 50px;
		height: 50px;
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);
		font-size: 50px;
		margin: 0px -100px;
		opacity: 0.2;
		@include respond('tab-land'){
			margin: 0px -50px;
		}
		@include respond('tab-port'){
			margin: 0px -25px;
		}
		@include respond('phone-land'){
			margin: 0px -15px;
			font-size: 30px;
		}
	}
	.testimonial-prev8{
		left:0;
	}
	.testimonial-next8{
		right:0;
	}
}

/* Team Style */
.dz-team10{
	position:relative;
	@include transitionMedium;
	z-index: 1;	
	&:after{
		content: "";
		@include transitionMedium;
		position: absolute;
		background: #fff;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.dz-media{
		@include transitionMedium;
		top: 0;
		border: 8px solid #fff;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.02);	
	}
	.dz-info{
		bottom: 0;
		position: absolute;
		background: #fff;
		width: 100%;
		display: block;
		padding: 20px 20px;
		@include transitionMedium;
		opacity:0;
		
		.dz-position{
			display: block;
			color: #000;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 600;
			opacity: 0.5;
			margin-bottom: 10px;
		}
		.dz-title{
			margin-bottom: 5px;
		}
	}
	.dz-social-icon li{ 
		display:inline-block;
		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			padding: 0;
			font-size: 16px;
			text-align: center;
			background: var(--primary);
			@include transitionMedium;
			color: #fff;
			&:hover{
				background: var(--primary-hover);
			}
		}
	}
	
	&:hover{ 
		z-index:2;
		.dz-media{
			top:-40px;
		}
		.dz-info{
			bottom: -40px;
			opacity:1;
		}
		&:after{
			height: calc(100% + 80px);
			bottom: -40px;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
		}
	}
}
.agro-footer{
	color:rgba(255,255,255,0.7);
	--title:#fff;
	
	.footer-top {
		padding: 100px 0 60px;
	}
	.overlay-black-dark:before{
		opacity:0.8;
		background:#000;
	}
	.footer-bottom {
		background-color: #111;
		font-size: 15px;
		padding: 20px 0;
	}
}