.font-style-2{
	--font-family-title: 'Montserrat', sans-serif;
	--font-family-base:'Montserrat', sans-serif;
	h1, .h1, 
	h2, .h2, 
	h3, .h3, 
	h4, .h4, 
	h5, .h5, 
	h6, .h6{
		--font-family-title: 'Montserrat', sans-serif;
		--font-family-base:'Montserrat', sans-serif;
	}
}
.bg-wind{
    position: absolute;
    bottom: 0;
	left:0;
	z-index:-2;
	width: 100%;
    height: 100%;
	overflow: hidden;
	.bg-wind-bx{
		position: absolute;
		bottom: 0;
		right:10%;
		&.wind-bx-2{
			left: 6%;
			right: auto;
			transform: scale(0.7);
			transform-origin: bottom;
		}
		&.wind-bx-3{
			right: 1%;
			transform: scale(0.8);
			transform-origin: bottom;
			z-index:-3;
		}
		.wind-rotate{
			position: absolute;
			top: -384px;
			left: -384px;
			-webkit-animation:windRotate 3s linear infinite;
			-moz-animation:windRotate 3s linear infinite;
			animation:windRotate 3s linear infinite;
		}
	}
	img {
		//filter: drop-shadow(0 0 20px #eee);
	}
}
@keyframes windRotate {
	100% { 
		transform:rotate(-360deg); 
	} 
}
.bg-wind-bx .wind-rotate img{
    max-width: unset;
}

