:root{
	--primary:#23d039;
	--primary-hover: #0db723;
	--primary-dark: #7b1534;
	--rgba-primary-05: rgba(35, 208, 57, 0.05);
	--rgba-primary-1: rgba(35, 208, 57, 0.1);
	--rgba-primary-2: rgba(35, 208, 57, 0.2);
	--rgba-primary-3: rgba(35, 208, 57, 0.3);
	--rgba-primary-4: rgba(35, 208, 57, 0.4);
	--rgba-primary-5: rgba(35, 208, 57, 0.5);
	--rgba-primary-6: rgba(35, 208, 57, 0.6);
	--rgba-primary-7: rgba(35, 208, 57, 0.7);
	--rgba-primary-8: rgba(35, 208, 57, 0.8);
	--rgba-primary-9: rgba(35, 208, 57, 0.9);
	--title: #051136;
}